<style>
    h1 {
    font-family: 'Yeon Sung', cursive;
    }
    h2 {
        font-family: 'Yeon Sung', cursive;
        font-size :10pt;
    }
    .search-field{
        display: -webkit-inline-box !important;
        width:  90% !important;
    }
    .btn-dark {
        float: right;
    }

</style>
  <header id="header">
        <div class="header-top-bar">

          <!--
          HEADER TOP BAR WITH NOTIFICATION FOR REGISTER USER
          -->

          <div class="header-notification-bar" style="display:none;">
            <div class="register-user">
              <div class="container">
                <div class="row">
                  <div class="col-md-3 col-sm-3">
                    <div class="logo-section">
                     <img src="<%= asset_path 'logo-bu.png'%>" alt="">
                    </div>
                  </div>

                  <!--상단 search바 -->
                  <div class="col-md-6 col-sm-5">
                    <div class="search-form">

                      <form action="/restaurants/search_result" accept-charset="UTF-8" method="get">
                        <input name="utf8" type="hidden" value="✓">
                        <input type="search" name="query" id="query" placeholder="Search..." class="topbar-search-input">
                        <button class="search-button" name="commit"><i class="fa fa-search"></i></button>
                      </form>

                    </div>
                  </div>
                  <!---->

                  <div class="col-md-3 col-sm-4">
                    <div class="notification-section text-right">
                      <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-envelope-o"></i></a><span class="new-notification">3</span></li>
                        <li><a href="#"><i class="fa fa-bell-o"></i></a><span class="new-notification">3</span></li>
                        <li class="user-profile-pic"><a href="#"><img src="<%= asset_path ''%>" alt=""></a></li>
                      </ul>
                    </div>
                  </div>

                </div> <!-- end .row -->
              </div> <!-- end .container -->
            </div> <!-- end .register-user -->
          </div> <!-- end. header-notification-bar  -->

          <!--
          END HEADER NOTIFICATION TOP BAR
          -->

          <!--
          HEADER TOP BAR FOR NON REGISTER USER
          -->

          <div class="header-notification-bar">
            <div class="non-register-user">

              <div class="container">
                <div class="row">

                  <div class="col-md-3 col-sm-3">
                    <div class="logo-section">
                      <img src="<%= asset_path 'logo-bu.png'%>" alt="gonza-logo" width="70%">
                    </div>
                  </div>

                  <!--상단 search바 -->
                  <div class="col-md-6 col-sm-5">
                    <div class="search-form">

                      <form action="/restaurants/search_result" accept-charset="UTF-8" method="get">
                       <input name="utf8" type="hidden" value="✓">
                        <input type="search" name="query" id="query" placeholder="Search..." class="topbar-search-input">
                        <button class="search-button" name="commit"><i class="fa fa-search"></i></button>
                      </form>

                    </div>
                  </div>
                  <!---->

                  <div class="col-md-3 col-sm-4">
                    <div class="notification-section text-right">
                      <ul class="list-inline">
                        <% if user_signed_in? %>
                          <li><%= link_to "#{current_user.email}", user_path(current_user.id) %></li>
                          <li><%= link_to '로그 아웃', destroy_user_session_path, method: "delete" %></li>
                        <%else%>
                          <li><%= link_to "Login", "/users/sign_in" %></li>
                        <%end%>
                      </ul>
                    </div>
                  </div>

                </div> <!-- end .row -->
              </div> <!-- end .container -->
            </div> <!-- end .visitors-top-bar -->
          </div> <!-- end. header-notification-bar  -->


          <!--
          END HEADER TOP BAR FOR WITHOUT LOGIN USER
          -->

          <!-- Navigation -->
          <div class="main-navbar">

          </div> <!-- main-navbar -->
          <!-- end .header-top-bar -->
        </div>


      </header>






